body{}
body >div{
width: 1920px; height: 1024px;
}
.intro {
    width: 1920px;
    height: 1024px;
    position: relative;
    background-image:url(../images/intro.png);
}

.intro h2 {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    bottom: 343px;
    color: rgba(0, 0, 0, 0.8);
    left: 50%; transform: translateX(-50%);
}
.intro p{
    font-size: 40px;
    font-weight: bold;
    color: #1C3564;
    position: absolute;
    left: 134px; top: 124px;
    padding-bottom: 21px;
}
.myprofile{
    position: relative;
    background-color: #D5E3E3;
}
.myprofile h1{
    position: absolute;
    left: 274px; top:142px;
    font-size: 32px;
    font-weight: bold;
}
.myprofile h1 span{
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    margin-right: 15px;
}
.myprofile .profile_info{
    position: absolute;
    left: 323px; top: 283px;
}
.myprofile .profile_info li{
    margin-right: 25px;
    margin-bottom: 40px;
    font-size: 20px;
    display: flex;
    font-weight: bold;
}
.myprofile .profile_info li:nth-child(3){
    line-height: 30px;
}
.myprofile .profile_info li > span{
font-size: 10px;
line-height: 20px;
margin-right: 20px;
}
.myprofile .profile_info li:last-child{
    margin-right: 0;
    margin-bottom: 0;
}
.myprofile .profile_info li .feel{
    text-align: center;
    width: 89px; height: 33px;
    border-radius: 15px;
    color: #fff;
    background-color: #000;
    font-size: 18px;
    padding: 7.5px 5px;
    margin-left: 25px;
}
.myprofile .call{
    position: absolute;
    left: 313px; bottom: 267px;
}
.myprofile .job{
    position: absolute;
    left: 1110px; top:138px;
}
.myprofile .job li{ 
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.myprofile .job li:last-child{
    margin-bottom: 0;
}
.myprofile .job li span{
    margin-left: 15px;
}

.myprofile .licence{
    position: absolute;
    left: 1115px; top: 348px;
}
.myprofile .licence li{
    font-size: 17px;
    margin-bottom: 10px;
}
.myprofile .licence li:last-child{
    margin-bottom: 0;
}
.myprofile .tool{
    position: absolute;
    bottom: 182px;
    left: 1110px;
}
.myprofile .tool li{
    margin-bottom: 45px;
    margin-right: 35px;
}
.myprofile .tool li:last-child{
    margin-right: 0px;
    margin-bottom: 0px;
}
.cnmotor{
    width: 1920px; height: 1024px;
    background-color: #D5E3E3;
    position: relative;
}
.cnmotor .cnmotor_title{
    display: flex;
    position: absolute;
    left: 197px; top: 53px;
}
.cnmotor .cnmotor_title h1{
    font-size: 60px;
    font-weight: bold;
    margin-right: 40px;
}
.cnmotor .cnmotor_title h2{
    font-size: 32px;
    line-height: 60px
}
.cnmotor .cnmotor_img{
    position: absolute;
    left: 285px; top: 212px;
    width: 1000px; height: 600px;
border-radius: 20px;}
.cnmotor .cnmotor_img img{
    width: 1000px; height: 600px;
    border-radius: 20px;
}
.cnmotor .cnmotor_info{
    position: absolute;
    left: 1407px; top: 348px;
}
.cnmotor .cnmotor_info > *{
    margin-bottom: 40px;
}
.cnmotor .cnmotor_info > *:last-child{
    margin-bottom: 0;
}

.cnmotor .cnmotor_info h2{
    font-size: 40px;
    font-weight: bold;
}
.cnmotor .cnmotor_info p{
    font-size: 20px;
    font-weight: bold;
}
.cnmotor .cnmotor_info .program_img{
    display: flex;
}
.cnmotor .cnmotor_info .program_img li img{
    margin-right: 8px;
}
.cnmotor .cnmotor_info .program_img li:last-child img{
    margin-right: 0px;
}